# --- Foldery kompilacji (Build Results) ---
Debug/
Release/
build/
bin/

# --- Pliki tymczasowe i binarne ---
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.su
*.d
*.list
*.ltrans

# --- Ustawienia IDE (STM32CubeIDE / Eclipse) ---
.metadata/
.settings/
*.launch
*.sc

# --- VS Code ---
.vscode/

# --- Systemowe śmieci ---
.DS_Store
Thumbs.db
